'context-menu':
  '.tree-view .file > .name':
    'External open': 'external-open:file'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'External Open'
      'submenu': [
        { 'label': 'File', 'command', 'external-open:file'}
      ]
    ]
  }
]
